.technologiesSection {
    padding-top: 15vh;
    padding-bottom: 10vh;
    width: 90%;
    max-width: 1200px;
    margin: 0px auto;
    text-align: center;
}

.technologiesSection p {
    color: white;
    font-size: 1.2rem;
    font-weight: 200;
    padding: 0px 20%;
}

.technologiesSection div p strong {
    font-weight: 700;
}

.listIconsTechnologies {
    text-align: center;
    display: flex;
    padding-top: 50px;
    max-width: 600px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px auto;
}

.listIconsTechnologies img {
    filter: grayscale(100%);
    opacity: 0.5;
    margin: 20px;
    width: 100px;
    transition: all ease 500ms;
}

.listIconsTechnologies img:hover {
    filter: grayscale(0);
    opacity: 1;
}

.buttonViewMore {
    background-color: #24292f;
    color: white;
    padding: 15px;
    width: 200px;
    display: block;
    margin: 50px auto;
    font-size: 1.1rem;
    border-radius: 50px;
    transition: all ease 500ms;
}

.buttonViewMore:hover {
    background-color: #1d2024;
}

.article {
    background-color: #24292f;
    width: 30%;
    margin: 1%;
    height: 300px;
    border-radius: 10px;
}
