.itemMenu {
    color: white;
    margin-left: 25px;
    font-weight: 300;
}

.itemMenuSelected {
    color: yellow;
}

.itemMenuSelected::after {
    animation: grow 0.8s cubic-bezier(0.25, 1, 0.5, 1);
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: currentColor;
    position: relative;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
}

@media only screen and (max-width: 768px) {
    .itemMenu {
        display: none;
    }
}
