.principalHomeSection {
    padding-top: 20vh;
    padding-bottom: 5vh;
    width: 90%;
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

.leftSectionText {
    width: 50%;
    padding-top: 20px;
}

.rightSectionImage {
    width: 350px;
    padding-top: 20px;
}

.titleH1 {
    font-size: 7.5rem;
    color: white;
    font-weight: bolder;
    line-height: 7.5rem;
    padding-bottom: 30px;
}

.titleH2 {
    font-size: 2.5rem;
    color: white;
    font-weight: lighter;
    line-height: 2.5rem;
    padding-bottom: 40px;
    border-bottom: solid 1px #555;
}

.iconsNetwork {
    padding-top: 50px;
    display: flex;
}

.iconsNetwork img {
    opacity: 0.3;
    margin-right: 30px;
}

.iconsNetwork img:hover {
    opacity: 1;
    cursor: pointer;
}
