.top-section {
    height: 100vh;
    background: linear-gradient(90deg, #4831d4 70%, #ccf381 30%);
    height: 80%;
}

.top-section .left-section-top {
    padding: 10%;
}

.top-section .right-section-top {
    width: 30%;
    margin-right: 10%;
}

.top-section .right-section-top svg {
    width: 100%;
}
