.paragraph {
    color: #fff;
    margin-bottom: 2rem;
}

.paragraph strong {
    color: #a1d8da;
}

.paragraph code {
    color: #a1d8da;
}

.h2 {
    color: #a1d8da;
    font-size: 2rem;
    border-bottom: 1px solid #474747;
}

.h3 {
    color: #a1d8da;
    font-size: 1.5rem;
}

.list-with-bullets li {
    list-style-type: circle;
    margin-left: 1rem;
    color: #a1d8da;
}

ul li {
    color: white;
}

ul li strong {
    color: #a1d8da;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: #fff;
}

.button-link {
    background-color: #14426d;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.button-link:hover {
    background-color: #08273e;
}

figure figcaption a {
    color: #a1d8da !important;
    text-decoration: underline;
}
