.paragraph {
    color: #252525;
    margin-bottom: 2rem;
}
.h2 {
    color: #061929;
    font-size: 2rem;
    border-bottom: 1px solid #474747;
}

.h3 {
    color: #061929;
    font-size: 1.5rem;
}

.list-with-bullets li {
    list-style-type: circle;
    margin-left: 1rem;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.button-link {
    background-color: #14426d;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.button-link:hover {
    background-color: #08273e;
}
