.secondHome {
    display: block;
    padding-bottom: 15vh;
}

.secondSectionContainer {
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    margin: 10px auto;
    padding: 5vh 5%;
    border-top: solid 1px #ccc;
}

.h3 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #555;
}

.secondSectionContainer p {
    font-size: 1.1rem;
    margin: 35px 0px;
    color: #555;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}
.secondImagenIcons .row div {
    width: 15%;
    padding: 3%;
    border: solid 1px #fff;
    border-radius: 10px;
    background-color: white;
    transition: all ease 500ms;
    margin-top: 30px;
}

.row div img {
    width: 100%;
    filter: grayscale(1);
    opacity: 0.5;
    transition: all ease 500ms;
}

.row div:hover {
    border: solid 1px purple;
    background-color: rgba(248, 239, 248, 0.9);
}

.row div:hover img {
    filter: grayscale(0);
    opacity: 1;
}

.moreAboutMe {
    text-align: center;
    padding: 10%;
}

.moreAboutMe button {
    opacity: 0.8;
    transition: all ease 500ms;
}

.moreAboutMe button:hover {
    opacity: 1;
}

/* Media query */

@media (max-width: 800px) {
    .secondImagenIcons .row div {
        width: 23%;
        padding: 3%;
    }
}
