@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0d1117;
}

.h2 {
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
}
.line {
    background-color: white;
    opacity: 0.5;
    height: 1px;
    width: 20%;
    margin: 30px auto;
}

.line-white {
    border-color: white;
}
