body {
    background: radial-gradient(ellipse at top, #e4e4e4, #f4f4f4), radial-gradient(ellipse at bottom, #0b1304, #051100);
}
html {
    scroll-behavior: smooth;
}

.textarea_chatbot {
    field-sizing: content;
    resize: none;
    border: 1px solid #ccc;
    width: 100%;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
}

.textarea_chatbot:disabled {
    background-color: #dedede;
}
