.topNavPrincipal {
    width: 100%;
    position: fixed;
    background-color: #0d1117d6;
    backdrop-filter: blur(5px);
    height: 60px;
    padding: 10px;
    z-index: 1;
    margin: 0px auto;
}

.topNavPrincipalContainer {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin: 0px auto;
}

.menu {
    display: flex;
    padding: 7px;
}
